@page
@model BusinessAPI.Pages.LocationViewModel
@{
    ViewData["Title"] = "Location View";
}

<h2>Location View</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Label</th>
            <th>Long Name</th>
            <th>X Coord</th>
            <th>Y Coord</th>
            <th>Space</th>
            <th>Num Vans</th>
            <th>Van IDs</th>
            <th>Remaining Capacity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var location in Model.Locations)
        {
            <tr>
                <td>@location.LocationLabel</td>
                <td>@location.BusinessName</td>
                <td>@location.x_coord</td>
                <td>@location.y_coord</td>
                <td>@location.space</td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="/Index" class="btn btn-primary">Back to Procedures</a>